
  .footer{

    background-color: #F7F7F7;;
    padding-top: 28px;
    padding-bottom: 30px;
    min-width: 320px;
      }
    
      .copyright {
        text-align: center;
        margin: 0;
        min-width: 320px;
       
        padding-left: 46px;
    padding-right: 46px;
    
    &__svg {
        display: inline-block;
        width: 14px;
        height: 12px;
           fill: #FF6B08;
      }
    
      & p {
        display: inline-block;
        margin: 0;
        color: #545454;
        font-weight: 400;
        line-height: 19px;
        font-size: 14px;
       
      }
      }
        
      .modal__hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }