.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #00000025;
  opacity: 1;
  overflow-y: scroll;
  transition: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-movie {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal-movie {
  position: absolute;
  top: 50%;
  left: 50%;

  background-color: #ffffff;
  transform: translate(-50%, -50%) scale(1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    transform: translate(0, 0) scale(1);
  }

  @media screen and (min-width: 768px) {
    width: 622px;
    height: 562px;
  }

  @media screen and (min-width: 1024px) {
    width: 888px;
    height: 568px;
  }
}

.modal-movie__button-close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;

  &:hover,
  &:focus {
    background-color: #ff6b08;
    color: #ffffff;
  }
}
.modal__icon-close {
  fill: currentColor;
}
.modal-movie__button-close {
  background-color: #ffffff;
  border: #ffffff;
}
