<footer class="footer">
  <div class="copyright">
    <p>&copy; 2023 | All Rights Reserved |</p>
    <p>
      Developed with
      <svg class="copyright__svg" id="copyright_modal">
        <use href="./images/icons.svg#heart"></use>
      </svg>
      by <span class="copyright__span">GoIT Students</span>
    </p>
  </div>
  <img
    src="/src/images/cursor-loader.gif"
    width="60"
    alt="loader"
    id="loader"
    class="loader"
  />
  <div class="modal modal__hidden" data-modal>
    <div class="modal__popup">
      <button class="modal__button" type="button" data-modal-close>
        <svg>
          <use xlink:href="./images/icons.svg#x"></use>
        </svg>
      </button>
      <div>
        <div class="modal__text">
          <h4 class="modal__text-mein">Coding Hamsters</h4>
          <p>Grupa projektowa 1</p>
        </div>
        <ul class="modal__gallery">
          <li class="modal__card">
            <div class="modal__thumbnail">
              <img src="./images/Zbyszek.jpg" alt="Zbyszek" />
            </div>
            <div class="modal__back">
              <h5>
                Zbigniew Klimczak
                <span>Team Leader</span>
              </h5>
              Zbyszek naszym jest prezesem, bo przyjaźni się z JS`em.
            </div>
          </li>
          <li class="modal__card">
            <div class="modal__thumbnail">
              <img src="./images/Ola.png" alt="Ola" />
            </div>
            <div class="modal__back">
              <h5>
                Ola Drzewiecka
                <span>Scrum Master</span>
              </h5>
              To Scrum Master dziwnej treści, ledwo się w terminy mieści.
            </div>
          </li>
          <li class="modal__card">
            <div class="modal__thumbnail">
              <img src="./images/Dawid.png" alt="Dawid" />
            </div>
            <div class="modal__back">
              <h5>Dawid Forst</h5>
              Dawid szybki jest, aż miło, to w pamięci nam utkwiło.
            </div>
          </li>
          <li class="modal__card">
            <div class="modal__thumbnail">
              <img src="./images/Asia.png" alt="Asia" />
            </div>
            <div class="modal__back">
              <h5>Asia Nosowska</h5>
              Asia ciągle w biegu żyje, z kodem się przed dziećmi kryje.
            </div>
          </li>
          <li class="modal__card">
            <div class="modal__thumbnail">
              <img src="./images/Bartek.png" alt="Bartek" />
            </div>
            <div class="modal__back">
              <h5>Bartek Puchyrski</h5>
              Bartek nasz jest ugodowy, kilka kliknięć kod gotowy.
            </div>
          </li>
          <li class="modal__card">
            <div class="modal__thumbnail">
              <img src="./images/Paweł.png" alt="Paweł" />
            </div>
            <div class="modal__back">
              <h5>Paweł Górniak</h5>
              Pawła wiedza jest niemała, repo nam do przodu pchała.
            </div>
          </li>
          <li class="modal__card">
            <div class="modal__thumbnail">
              <img src="./images/Dominik.png" alt="Dominik" />
            </div>
            <div class="modal__back">
              <h5>Dominik Lenart</h5>
              Z Dominikiem za pan brat, zawojujesz IT świat.
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script src="./js/footerModal.js"></script>
</footer>
